<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container col-xs-12 col-md-12">
    <div class="content">
        <h3>Session Deatails

            <button md-button class="back-button" (click)="backTolist()"><i class="material-icons">&#xE317;</i></button></h3>

        <!--<iframe width="854" height="480" src="https://www.youtube.com/embed/9hDKfBKuXjI" frameborder="0" allowfullscreen></iframe>-->
        <table>
            <tbody class="child-table">

                <tr class="child-row" *ngFor="let result of results">

                    {{result.company.catchPhrase}}
                    <!--<p> {{result.company.bs}} </p>-->
                </tr>

            </tbody>
        </table>
        <!--dynamic session realted links-->
        <div>
            <i class="material-icons">&#xE16D;</i>Back
            <a>home</a> ,<a>My schedule</a> ,<a>Previous session</a>
        </div>

        <div>
            <!--Hyperlink like facebook twitter goes here-->
        </div>

        <button md-button class="rate-session" (click)="openRateDialog()"> RATE SESSION</button>

        <!--container about speakers-->
        <div class="speakers-details">

            <!--speakers details goes herer-->
        </div>



    </div>
</div>