<div class="col-xs-8">
    <p class="description"> 
        Our collaborative culture celebrates breakthrough ideas and the diverse people who dream them and make them real through
        a unique connectedness of perspectives and disciplines.
    </p>
</div>

<div class="col-xs-12 chart" [chartData]="gantt_ChartData" [chartOptions]="gantt_chart_options" GanttChart>
</div>

<!--<div  [chartData]="gantt_ChartData" [chartOptions]="gantt_chart_options" GanttChart>
</div>
<div  [chartData]="gantt_ChartData" [chartOptions]="gantt_chart_options" GanttChart>
</div>
<div  [chartData]="gantt_ChartData" [chartOptions]="gantt_chart_options" GanttChart>
</div>-->